.fake {
    width:100%;
    top:0px;
    left:0px;
}


.fake img {
    width:100%;
}

.fake img:last-child {
    display: none;
}

@media screen and (max-width: 600px) {

    .fake {
        position: sticky;
        bottom:120px;
        display: block;
        z-index:100;
    }

    .fake img:first-child {
        display:none;
    }

    .fake img:last-child {
        display:block;
    }
}


.carousel__dots {
    display: none;
}



/*  GENERAL   */


:root {
    --strongblue: #001536;
    --white: #ffffff;
    --red: #eb0000;
    --blue: #1c99c4;
    --grey: #343434;
    --lightgrey:lightgrey;
    --semibold: 600;
    --regular: 400;
    --light: 300; 
  }


a {
    color:black;
    text-decoration: underline;
}

a:hover {
    color:black;
}


input {
    outline: none;
}


body {
    color:var(--grey);
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width:1140px;
    margin:auto;
    padding:0px;
}




/*  STYLE SHEETS   */


.main {
    font-size:20px;
    font-weight:var(--semibold);
    text-transform: uppercase;
}

.second {
    font-size:20px;
    font-weight:var(--regular);
}

.text {
    font-size:13px;
    font-weight:var(--regular);
}

.red {
    color:var(--red);
}

.blue {
    color:var(--blue);
}

.strong {
    font-weight:var(--semibold);
}


.light_19px {
    font-size:19px;
    font-weight:var(--regular);
}

.light_16px {
    font-size:16px;
    font-weight:var(--light);
}

.rrp {
    text-decoration: line-through;
}

.small {
    font-size:9px;
}







main {
    margin-top:25px;
    width:100%;
}



#productWrapper {
    width:100%;
    display:flex;
    justify-content: space-between;
}





/*  LEFT SIDE   */

.image {
    width:600px;
}

.image>img:first-child {
    width:100%;
    margin-bottom:20px;
    border:.1px solid var(--lightgrey);
}

.image img:hover {
    cursor:pointer;
    opacity:.9;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    flex: none;
    }

.gallery>div {
    width:290px;
    height:290px;
    margin-bottom:20px;
    text-align: center;
    border:.1px solid var(--lightgrey);
}

.gallery>div img {
    width:100%;
    height:100%;
    object-fit: cover;
}



.galleryCarousel {
    display:none;
}


@media screen and (max-width: 1200px) {
    
    main {
        padding:0px 20px;
    }
    
    .image {
        margin-right:60px;
    }

    .gallery>div {
        width:48%;
    }
}


@media screen and (max-width: 992px) {
    .gallery>div {
        height:200px;
    }
}


@media screen and (max-width: 768px) {
    .image {
        margin-right:20px;
    }

}


@media screen and (max-width: 600px) {
    main {
        margin-top:0px;
        padding:0px;
    }

    .image>img:first-child {
        margin-bottom:0px;
    }

    .gallery {
        display: none;
    }




    .galleryCarousel {
        display: block;
        height:auto;
        margin:5px;
        margin-bottom:20px;
    }

    .galleryCarousel .carousel__slide {
        width:85px;
        height:90px;
        border:.1px solid lightgrey;
        padding:0px;
        margin-right:5px;
        
    }

    .galleryCarousel .carousel__slide img {
        width:100%;
        height:100%;
        object-fit: cover;
    }

    .galleryCarousel .carousel__button {
        background-color:white;
        top: 85vw;
    }
}




/*  RIGHT SIDE */


.product-info-wrap {
    width:480px;
}

.product-info-wrap div {
    margin-bottom:20px;
}


.klarna {
    color:grey;
    display:block;
    line-height: 10px;
}

.klarna a {
    color: grey;
}

#smallGallery, #size {
    margin-top:10px;
}

.carousel {
    height:100px;
    text-align: left;
    --carousel-button-bg: white;
}

.carousel .carousel__button {
    display:none;
}


.carousel .carousel__slide {
    background-color: rgba(0,0,0,.075);
    width:94px;
    height:99px;
    margin:1px;
}

.carousel .carousel__slide img {
    width:100%;
    height:100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}


.carousel .carousel__slide:hover {
    border:.1px solid black;
    cursor:pointer;
}

.extra {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:var(--lightgrey);
    font-size:18px;
}


.size ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0px;
    margin:0px;
    width:100%;

}

.size li {
    width:19%;
    height:45px;
    text-align: center; 
    list-style-type: none;
    margin-bottom:5px;
    
}



#size a {
    text-decoration: none;
    padding:10px;
    display: inline-block;
    width:100%;
    border:.1px solid var(--lightgrey);

}



#size a:hover {
    border:.1px solid black;
}


.size span:last-child {
    position: relative;
    top: 5px;
    display:none;
}

.addcart input {
    width:100%;
    background-color:var(--blue);
    border:none;
    color:white;
    text-align: center;
    height:50px;
    margin-bottom:10px;
}



.accordion>div {
    margin-left:15px;
    display:none;
}



@media screen and (max-width:1200px) {
    .size li {
        width:24%;
    }    
}


@media screen and (max-width: 992px) {
    .product-info-wrap {
        width:45%;
    }

  
}



@media screen and (max-width: 600px) {
    
    #productWrapper {
        flex-direction: column;
    }
    .image {
        width:100%;
    }

    .product-info-wrap {
        width:100%;
        padding:0px 20px;
    }

    .size li {
        width:19%;
    }       


    .carousel .carousel__slide {
        width:76px;
        height:82px;
    }
    
    .carousel {
        height:83px;
    }



}






/*  MORE LIKE THIS */

.more {
    position: relative;
    max-width:1700px;
    margin:auto;
    margin-top:80px;
    border-top:.5px solid var(--lightgrey);
    
}


.more .main {
    margin-top:35px;
    margin-bottom:80px;
    text-align: center;
}

.more>div {
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
    border-bottom:.5px solid var(--lightgrey);
    max-width:1400px;
    margin:auto;
} 

.productListEntry {
    width:20%;
    padding:0px 12px;
    margin-top:0px;
    margin-bottom:40px;
}


.productListEntry div {
    background-color: rgba(0,0,0,.075);
    margin-bottom:20px;
    text-align: center;

}

.productListEntry img {
    width:60%;
    height:333px;
    object-fit:contain;
    mix-blend-mode: multiply;
}

.productListEntry a {
    text-decoration:none;
    color:var(--grey);
} 

.productListEntry span {
    text-align: left;
    padding:2px 10px;
    display: inline-block;
}


@media screen and (max-width: 1200px) {
    .productListEntry  {
        width:25%;
    }    
}

@media screen and (max-width: 992px) {
    .productListEntry  {
        width:33%;
    }    
}

@media screen and (max-width: 768px) {
    .productListEntry  {
        width:50%;
    }    
}

@media screen and (max-width: 600px) {
    .productListEntry img {
        height:250px;
    }    

    .more>div {
        padding-bottom:40px;
    }

    .more .main {
        margin-bottom:35px;
    }    

    .productListEntry span {
        padding:2px 0px;
    }
}





/*  LOGOS BAR, FOOTER & SOCIAL */

.logos {
    margin:auto;
    max-width:600px;
    height:90px;
    text-align:center;
    height:34px;
    margin-top:28px;
    margin-bottom:28px;
    display: flex;
    justify-content: center;
}

.logos img {
    max-height:90px;
    padding:0px 3px;
    border-radius: 10px;
} 



footer {
    width:100%;
    background-color:var(--strongblue);
    padding:50px 0px 40px 0px;
}


footer .strong {
    color:white;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding:0px;
}


footer ul li a {
    color:grey;
    text-decoration: none;
    font-weight:var(--light);
    font-size:9px;
    display: inline-block;
    padding-bottom:5px;
}


footer a:hover {
    color:white;
    text-decoration: none;
}

footer .container {
    display:flex;
    justify-content: flex-end;
}

footer .container>div {
    padding:0px 20px;
    width:200px;
}

footer .container>div:first-child {
    width:60%;
}

footer .container>div:first-child img {
    width: auto;
    margin-bottom:20px;
}





.social {
    width:100%;
    background-color:#16364f;
    color:var(--lightgrey);
    padding:0px 20px;

}

.social .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
}

.social a {
    color:var(--lightgrey);
    text-decoration:none;
}

.social p {
    margin:0px;
}

.social i {
    font-size:12px;
    padding:5px;
    margin:2px;
    background-color:var(--lightgrey);
    width:22px;
    height:22px;
    text-align:center;
    border-radius:100%;
    color:#16364f;
}

.social a:hover {
    color:white;
}





@media screen and (max-width: 600px) {
    
    .logos {
        width:auto;
        height:auto;
        margin-top:14px;
        margin-bottom:14px;
    }
    .logos img {
        width:12%;
        object-fit:cover;
        border-radius:5px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container>div, footer .container>div:first-child {
        width:100%;
        display: block;
        text-align: center;
        font-size:14px;
    }

    footer .container>div:first-child {
        border-bottom:.5px solid white;
        margin-bottom:40px;
        padding-bottom:30px;
    }

    footer ul {
        display: none;
    }


    .social {
        padding:20px 0px;
    }

    .social .container {
        flex-direction: column;
        
    }

}